<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="mt-3">
        <div class="jumbotron bg-eventures">
            <h1 class="text-dark text-center" th:text="|Greetings, Administrator - ${username}|"></h1>
            <hr class="hr-2 bg-dark">
            <h3 class="text-muted text-center">
                Enjoy your work.
            </h3>
        </div>
    </main>
    <footer class="footer mt-1 p-3 bg-eventures">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Eventures Inc 2018-2018. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>